obj/
bin/
Deploy/
packages/
StarDrive/
Deploy/Upload/
x64/
.idea/
*.psess
*.vsp
*.orig
*.vspx
*.suo
*.diagsession
StarDrive.v12.suo
UpgradeLog2.htm
Backup\Backup\StarDrive.sln
StarDrive.VC.db
StarDrive.sdf
StarDrive.csproj.DotSettings
SDNative\SDNative.vcxproj.user
StarDrive.csproj.user
StarDrive.sln.DotSettings.user
dupReport.html
dupReport.xml
