obj/
packages/
StarDrive/
Deploy/Upload/
x64/
.idea/
*.psess
*.vsp
*.orig
*.vspx
*.suo
*.diagsession
StarDrive.v12.suo
UpgradeLog2.htm
Backup\Backup\StarDrive.sln
StarDrive.VC.db
StarDrive.sdf
StarDrive.csproj.DotSettings
SDNative\SDNative.vcxproj.user
StarDrive.csproj.user
StarDrive.sln.DotSettings.user
dupReport.html
dupReport.xml
/SynapseGaming-SunBurn-Pro/SDSunBurn.csproj.user
/UnitTests/SDUnitTests.csproj.user
/SDNative/SDNative.vcxproj.user
/.vs/slnx.sqlite
/.vs/VSWorkspaceState.json
/.vs/ProjectSettings.json
/.vs/CMake Overview
/SDNative/fbxsdk/libfbxsdk.dll
SDNative/SDNativeTests/Debug/
SDNative/SDNativeTests/Release/
Content/Audio/aac/
Content/Audio/export/
Content/Audio/pcm/
ExportedTextures/
StarDrive.csproj.jorma.nvuser
SDNative/SDNativeTests/Release-2017/
.vs/
Content/Audio/sd_audio_aac.zip
bin/x86/Release-2017/
Microsoft.Xna.Framework.Game/bin/
SynapseGaming-SunBurn-Pro/bin/
UnitTests/bin/
*.pyc
game/Content/GameText.Missing.RUS.yaml
game/Content/GameText.Missing.SPA.yaml
game/Microsoft.Bcl.AsyncInterfaces.dll
game/Microsoft.Bcl.AsyncInterfaces.xml
game/Microsoft.Xna.Framework.Game.dll
game/NAudio.dll
game/NAudio.xml
game/Newtonsoft.Json.dll
game/Newtonsoft.Json.xml
game/SDNative.dll
game/SDNative.exp
game/SDNative.lib
game/SDNativeTests.exe
game/SDNativeTests.exp
game/SDNativeTests.lib
game/SDSunBurn.dll
game/Sentry.dll
game/Sentry.xml
game/StarDrive.exe
game/StarDrive.exe.config
game/System.Buffers.dll
game/System.Buffers.xml
game/System.Collections.Immutable.dll
game/System.Collections.Immutable.xml
game/System.Memory.dll
game/System.Memory.xml
game/System.Numerics.Vectors.dll
game/System.Numerics.Vectors.xml
game/System.Reflection.Metadata.dll
game/System.Reflection.Metadata.xml
game/System.Runtime.CompilerServices.Unsafe.dll
game/System.Runtime.CompilerServices.Unsafe.xml
game/System.Text.Encodings.Web.dll
game/System.Text.Encodings.Web.xml
game/System.Text.Json.dll
game/System.Text.Json.xml
game/System.Threading.Tasks.Extensions.dll
game/System.Threading.Tasks.Extensions.xml
game/System.ValueTuple.dll
game/System.ValueTuple.xml
game/StarDrive.application
game/StarDrive.exe.manifest
