[submodule "SDNative/ReCpp"]
	path = SDNative/ReCpp
	url = https://github.com/gkapulis/ReCpp.git
[submodule "SDNative/NanoMesh"]
	path = SDNative/NanoMesh
	url = https://github.com/gkapulis/NanoMesh.git
