<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="XRES" value="1920" />
    <add key="YRES" value="1080" />
    <add key="WindowMode" value="2" />
    <add key="RanOnce" value="false" />
    <add key="ForceFullSim" value="true" />
    <add key="MusicVolume" value="70" />
    <add key="EffectsVolume" value="100" />
    <add key="AutoSaveFreq" value="300" />
    <add key="Language" value="English" />
    <add key="ActiveMod" value="" />
    <add key="OptionIncreaseShipMaintenance" value="0" />
    <add key="ModSupport" value="true" />
    <add key="MinimumWarpRange" value="600000" />
    <add key="MemoryLimiter" value="300000" />
    <add key="ExtraNotifications" value="false" />
    <add key="PauseOnNotification" value="false" />
    <add key="ExtraPlanets" value="0" />
    <add key="GravityWellRange" value="8000" />
    <add key="StartingPlanetRichness" value="1" />
    <add key="SaveVersion" value="1000" />
    <add key="8XAntiAliasing" value="false" />
    <add key="IconSize" value="0" />
    <add key="preventFederations" value="false" />
    <add key="shipcountlimit" value="3000" />
    <add key="EliminationMode" value="false" />
    <add key="ZoomTracking" value="false" />
    <add key="TurnTimer" value="5" />
    <add key="freighterlimit" value="50" />
    <add key="ssplimit" value="50" />
    <add key="perf" value="false" />
    <add key="DisableAIEmpires" value="false" />
    <add key="AltArcControl" value="false" />
    <add key="ClientSettingsProvider.ServiceUri" value="" />
    <add key="Branch" value="Crunchies cleanup" />
    <add key="Version" value="3426" />
    <add key="VerboseLogging" value="true" />
    <add key="TestLoad" value="false" />
    <add key="PreLoad" value="false" />
    <add key="DamageIntensity" value="1" /> 
  </appSettings>
  <startup useLegacyV2RuntimeActivationPolicy="true">
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>
  <runtime>
    <legacyCorruptedStateExceptionsPolicy enabled="true" />
    <gcServer enabled="true" />
    <gcConcurent enabled="true" />
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-12.0.0.0" newVersion="12.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="SynapseGaming-SunBurn-Pro" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-9.0.0.0" newVersion="0.1.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Xna.Framework.Game" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-9.0.0.0" newVersion="0.3.1.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>
</configuration>
