<?xml version="1.0"?>
<configuration>


  <appSettings>
    <add key="XRES" value="1920"/>
    <add key="YRES" value="1080"/>
    <add key="WindowMode" value="2"/>
    <add key="RanOnce" value="false"/>
    <add key="ForceFullSim" value="false"/>
    <add key="MusicVolume" value="70"/>
    <add key="EffectsVolume" value="100"/>
    <add key="AutoSaveInterval" value="5"/>
    <add key="Language" value="English"/>
    <add key="ActiveMod" value=""/>
    <add key="ClientSettingsProvider.ServiceUri" value=""/>
    <add key="OptionIncreaseShipMaintenance" value="0"/>
    <add key="ModSupport" value="true"/>
    <add key="MinimumWarpRange" value="600000"/>
    <add key="MemoryLimiter" value="180000"/>
  </appSettings>
  <startup useLegacyV2RuntimeActivationPolicy="true">
    
  <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup>
</configuration>
