<?xml version="1.0"?>
<configuration>
  <appSettings>
    <add key="XRES" value="1920" />
    <add key="YRES" value="1080" />
    <add key="WindowMode" value="2" />
    <add key="RanOnce" value="false" />
    <add key="ForceFullSim" value="true" />
    <add key="MusicVolume" value="70" />
    <add key="EffectsVolume" value="100" />
    <add key="AutoSaveInterval" value="300" />
    <add key="Language" value="English" />
    <add key="ActiveMod" value="" />
    <add key="ClientSettingsProvider.ServiceUri" value="" />
    <add key="OptionIncreaseShipMaintenance" value="0" />
    <add key="ModSupport" value="true" />
    <add key="MinimumWarpRange" value="600000" />
    <add key="MemoryLimiter" value="300000" />
    <add key="ExtraNotifications" value="true" />
    <add key="PauseOnNotification" value="false" />
    <add key="ExtraPlanets" value="0" />
    <add key="GravityWellRange" value="8000" />
    <add key="StartingPlanetRichness" value="1" />
    <add key="ExtendedVersion" value=": Radical_Elements_Test_12_9" />
    <add key="8XAntiAliasing" value="false" />
    <add key="IconSize" value="0" />
    <add key="preventFederations" value="false" />
    <add key="shipcountlimit" value="1500" />
    <add key="EliminationMode" value="false" />
    <add key="TurnTimer" value="5"/>
    <add key="freighterlimit" value="50" />
    <add key="ssplimit" value="50" />
    <add key="perf" value="false"/>
   
  </appSettings>
  <startup useLegacyV2RuntimeActivationPolicy="true">
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0" />
  </startup>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>
</configuration>