[merge-tools]
kdiff3.executable=C:\Program Files\TortoiseHg\lib\kdiff3.exe
kdiff3-noauto.executable=C:\Program Files\TortoiseHg\lib\kdiff3.exe
[ui]
ssh="C:\Program Files\TortoiseHg\lib\TortoisePlink.exe" -ssh -2
