<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="ConfigVersion" value="1" />
    <add key="RestrictAIPlayerInteraction" value="false" />
    <add key="XRES" value="1920" />
    <add key="YRES" value="1080" />
    <add key="MaxParallelism" value="-1" />
    <add key="WindowMode" value="2" />
    <add key="AutoSaveFreq" value="300" />
    <add key="AntiAliasSamples" value="2" />
    <add key="PostProcessBloom" value="true" />
    <add key="VSync" value="false" />
    <add key="TextureQuality" value="0" />
    <add key="TextureSampling" value="2" />
    <add key="MaxAnisotropy" value="2" />
    <add key="ShadowDetail" value="3" />
    <add key="EffectDetail" value="0" />
    <add key="AutoErrorReport" value="true" />
    <add key="ActiveMod" value="" />

    <add key="NotifyEmptyPlanetQueue" value="false" />
    <add key="PauseOnNotification" value="false" />
    <add key="IconSize" value="0" />
    <add key="ZoomTracking" value="false" />
    <add key="CameraPanSpeed" value="2" />
    <add key="AltArcControl" value="false" />
    <add key="DisableAsteroids" value="false" />
    <add key="EnableEngineTrails" value="true" />
    <add key="MaxDynamicLightSources" value="100" />
    <add key="SimulationFramesPerSecond" value="60" />
    <add key="NotifyEnemyInSystemAfterLoad" value="true" />

    <add key="MusicVolume" value="70" />
    <add key="EffectsVolume" value="100" />
    <add key="SoundDevice" value="Default" />
    <add key="Language" value="English" />
    <add key="VerboseLogging" value="true" />

    <add key="TimesPlayed" value="0" />
  </appSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Runtime.CompilerServices.Unsafe" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Win32.Registry" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.0.0.0" newVersion="5.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Text.Json" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-7.0.0.1" newVersion="7.0.0.2" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Bcl.AsyncInterfaces" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-7.0.0.0" newVersion="7.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Reflection.Metadata" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-7.0.0.0" newVersion="7.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Collections.Immutable" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-7.0.0.0" newVersion="7.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Memory" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.1.2" newVersion="4.0.1.2" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
  </startup>
</configuration>
